.exercise-card {
  padding: 2rem 1rem;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 9px;
  box-shadow: rgba(255, 136, 0, 0.16) 0px 3px 6px,
    rgba(255, 128, 0, 0.23) 0px 3px 6px;
  box-sizing: border-box;
}

.exercise-card:hover {
  box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 20px 1px,
    rgba(255, 255, 255, 0.2) 0px 2px 16px 1px;
}

.exercise-card-img {
  width: 80%;
  margin: auto auto;
}

.exercise-card-img img {
  width: 100%;
}

.exercise-card-content {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  font-size: 1rem;
}

.exercise-card-btn {
  padding: 1rem 2rem;
  border: none;
  background-color: #e5a614;
  text-transform: capitalize;
  border-radius: 15px;
  color: var(--white);
  font-size: 90%;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.exercise-card-btn:hover {
  color: #e5a614;
  background-color: var(--white);
}

.btn2 {
  color: var(--white);
  background-color: #e48305;
}

.exercise-card h3 {
  font-size: 1.2rem;
  margin-bottom: -0.5rem;
  text-align: center;
  color: var(--white);
  font-weight: 600;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
